
.product-image{
height: 190px;
width: 240px;
border-radius: 20px;
}
.product-card-container{
  border: 1px solid rgb(167, 164, 164);
  box-shadow: 0px 5px 5px 0px rgb(163, 161, 161) ;
  border-radius: 10px;
  margin: 15px;
 /* padding: 10px; */
  height: 414px;
  position: relative;
 
}
.product-name{
   text-align: center;
  font-weight: bold;
 font-size: 25px;
}
.card-flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;   
}
.flex-item{
    display: flex;
    justify-content: space-evenly;
    
}
.price-name{
    text-align: center;
}
.edit-product{
    text-decoration: none;
}
.start-color{
    color: rgb(233, 229, 23);
    margin: 3px;
}
.star-font{
    text-align: center;
   
}
.buy-now-btn{
width: 240px;
height: 35px;
border: none;
position: absolute;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
bottom: 0;
color: aliceblue;
font-weight: bold;
background-color: rgba(33, 33, 77, 0.87);

}
.edit-product{
    width: 70px;
    height: 25px;
    margin-left: 5px;
   text-align: center;
   background-color: yellow;
  color: black;
  border-radius: 2px;

}
.btn-delete{
    border: none;
    background-color: red;
    color: white;
    border-radius: 2px;
}
.add-to-cart-btn{
    width: 240px;
   position: absolute;
  bottom: 40px;
 border: none;

 
}